#wrapper {
	width: 900px;
	text-align: center;
	border: 2px solid black;
	margin: auto;
	padding: 10px;
}

h2 {
	text-align: left;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 890px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: gray;
}

#new_shows {
	width: 500px;
	text-align: left;
	margin: auto;
	padding: 20px;
}