<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dojo and Ninjas</title>
		{% load static %}
      	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<div name="myform" id="wrapper">
			<div id="sub_wrapper">
				<div class="dojo_ninja">
					<h2>Add a Dojo</h2>
					<form action="/add_dojo" method="POST">
					{% csrf_token %}
						<label for="name">Name</label>
						<input type="text" id="name" name="name"> <br> <br>
						<label for="city">City</label>
						<input type="text" id="city" name="city"> <br> <br>
						<label for="state">State</label>
						<input type="text" id="state" name="state"> <br> <br>
						<input type="submit" value="Add" action="/add_dojo">
					</form>
				</div>
				<div class="dojo_ninja">
					<h2>Add a Ninja</h2>
					<form action="/add_ninja" method="POST">
					{% csrf_token %}
						<label for="fname">First name</label>
						<input type="text" id="fname" name="fname"> <br> <br>
						<label for="lname">Last name</label>
						<input type="text" id="lname" name="lname"> <br> <br>
						<label for="dojo">Dojo</label>
						<select name="dojo" id="dojo">
						{% for dojo in all_dojos %}
							<option value="{{dojo.id}}">{{dojo.name}}</option>
						{% endfor %}
						</select> <br> <br>
						<input type="submit" value="Add" action="/add_ninja">
					</form>
				</div>
			</div>
			<hr>
			<div class="dojo_ninja">
				<h2>All the Dojos</h2>
				{% for dojo in all_dojos %}
					<h4>Ninjas at the {{dojo.name}}</h4>
					<ul>
						{% for ninja in dojo.ninjas.all %}
						<li>{{ninja.first_name}} {{ninja.last_name}}</li>
						{% endfor %}
					</ul>
				{% endfor %}	
			</div>
		</div>
	</body>
</html>