<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dojo Survey</title>
		{% load static %}
      	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
	<body>
		<div id="wrapper">
			<form action="/process" method=POST>
				{% csrf_token %}
				<div class="user_input">
					<h4>Your Name:</h4>
					<input type="text" name="user_name" class="name">
				</div>
				<div class="user_input">
					<h4>Dojo Location:</h4>
					<select name="location" class="location">
						<option value="los_angeles">Los Angeles</option>
						<option value="san_francisco">San Francisco</option>
						<option value="new_york">New York</option>
						<option value="houston">Houston</option>
						<option value="san_diego">San Diego</option>
					</select>
				</div>
				<div class="user_input">
					<h4>Favorite Language:</h4>
					<select name="fav_lang" class="language">
						<option value="python">Python</option>
						<option value="java">Java</option>
						<option value="java_script">Java Script</option>
						<option value="django">Django</option>
					</select>
				</div>
				<div class="user_input">
					<h4>Gender:</h4>
					<div class="gender">
						<input type="radio" id="male" name="gender" value="male">
						<label for="male">Male</label><br>
						<input type="radio" id="female" name="gender" value="female">
						<label for="female">Female</label><br>
					</div>
				</div>
				<div class="user_input">
					<h4>Program Duration:</h4>
					<div name="duration" class="duration">
						<input type="checkbox" id="3_months" name="3_months" value="3_months">
						<label for="3_months">3 Months</label><br>
						<input type="checkbox" id="6_months" name="6_months" value="6_months">
						<label for="6_months">6 Months</label><br>
						<input type="checkbox" id="9_months" name="9_months" value="9_months">
						<label for="9_months">9 Months</label><br><br>
					</div>
				</div>
				<div class="user_input">
					<h4>Comment (optional):</h4>
					<textarea name="comment" class="comment"></textarea>
				</div>
				<input type="submit" value="Button" class="btn">
			</form>
		</div>
	</body>
</html>

