<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Books and Authors</title>
		{% load static %}
      	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<div id="book_wrapper">
			<a href="/">Home</a>
			<a href="/authors">Authors</a>
			<h2>{{author.first_name}} {{author.last_name}}</h2>
			<p><strong>ID:</strong> {{author.id}}</p>
			<p><strong>Notes:</strong> {{author.notes}}</p>
			<p><strong>Books:</strong></p>
			<ul>
				{% for book in author.books.all %}
				<li>{{book.title}}</li>
				{% endfor %}
			</ul>

			<form action="/authors/{{author.id}}/assign" method="POST">
				{% csrf_token %}
				<select name="book_id">
					{% for book in books %}
					<option value="{{book.id}}">{{book.title}}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Add Author">
			</form>

		</div>
	</body>
</html>